# Notebook: Lab5_Polars_ETL.ipynb (à¸„à¸±à¸”à¸¥à¸­à¸à¸—à¸µà¸¥à¸°à¹€à¸‹à¸¥à¸¥à¹Œ)
# 0) Title (Markdown)
# Lab 5: High-Performance ETL with Python (Pandas vs Polars) + MinIO Data Lake

# Goal
#- Generate mock user data
#- Transform + aggregate (Pandas baseline)
#- Transform + aggregate (Polars high-performance + Lazy)
#- Write Parquet to MinIO (S3) and read back
#- Produce a simple Data Quality / Audit report

In [1]:
# 1) Install in-notebook 
%pip install polars s3fs faker pyarrow

Requirement already satisfied: polars in /opt/conda/lib/python3.11/site-packages (1.36.1)
Requirement already satisfied: s3fs in /opt/conda/lib/python3.11/site-packages (0.4.2)
Requirement already satisfied: faker in /opt/conda/lib/python3.11/site-packages (39.0.0)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.11/site-packages (22.0.0)
Requirement already satisfied: polars-runtime-32==1.36.1 in /opt/conda/lib/python3.11/site-packages (from polars) (1.36.1)
Requirement already satisfied: botocore>=1.12.91 in /opt/conda/lib/python3.11/site-packages (from s3fs) (1.42.14)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.11/site-packages (from s3fs) (2025.12.0)
Requirement already satisfied: tzdata in /opt/conda/lib/python3.11/site-packages (from faker) (2025.3)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.11/site-packages (from botocore>=1.12.91->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.11/site-packages (from botocore>=1.12.91->s3fs) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.11/site-packages (from botocore>=1.12.91->s3fs) (2.0.7)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#2) Imports + Reproducibility + Runtime config
import os, time, json, random
from datetime import date
import pandas as pd
import polars as pl
from faker import Faker
import s3fs

random.seed(42)
Faker.seed(42)

In [3]:
# --- MinIO endpoint note ---
# If Jupyter is in same docker network: http://minio:9000
# If Jupyter runs on host machine:     http://localhost:9000
MINIO_ENDPOINT = os.getenv("MINIO_ENDPOINT", "http://minio:9000")
MINIO_ACCESS_KEY = os.getenv("MINIO_ACCESS_KEY", "admin")
MINIO_SECRET_KEY = os.getenv("MINIO_SECRET_KEY", "admin12345")

BUCKET = os.getenv("MINIO_BUCKET", "data")
PREFIX = os.getenv("MINIO_PREFIX", "processed")
print("MinIO endpoint:", MINIO_ENDPOINT)

MinIO endpoint: http://minio:9000

In [4]:
# 3) Connect MinIO + Ensure bucket exists (à¸ªà¸³à¸„à¸±à¸à¸ªà¸³à¸«à¸£à¸±à¸šà¸„à¸§à¸²à¸¡à¸Šà¸±à¸§à¸£à¹Œ)
storage_options = {
    "key": MINIO_ACCESS_KEY,
    "secret": MINIO_SECRET_KEY,
    "client_kwargs": {"endpoint_url": MINIO_ENDPOINT},
}

fs = s3fs.S3FileSystem(
    key=MINIO_ACCESS_KEY,
    secret=MINIO_SECRET_KEY,
    client_kwargs={"endpoint_url": MINIO_ENDPOINT},
)

# Ensure bucket exists
if not fs.exists(BUCKET):
    fs.mkdir(BUCKET)
    print(f"âœ… Created bucket: {BUCKET}")
else:
    print(f"âœ… Bucket exists: {BUCKET}")

# Quick list
print("Buckets:", fs.ls(""))

âœ… Bucket exists: data
Buckets: ['data']

In [5]:
#4) Mock Data Generator (100,000 records) â€” à¸—à¸³à¹à¸šà¸š â€œà¸„à¸¸à¸¡ schemaâ€
# à¸ªà¸£à¹‰à¸²à¸‡à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹€à¸›à¹‡à¸™ list à¹à¸¥à¹‰à¸§à¸„à¹ˆà¸­à¸¢à¸›à¸£à¸°à¸à¸­à¸š à¸ˆà¸°à¸„à¸¸à¸¡ dtype à¹„à¸”à¹‰à¸‡à¹ˆà¸²à¸¢ à¹à¸¥à¸°à¸¥à¸”à¸›à¸±à¸à¸«à¸² type à¹à¸à¸§à¹ˆà¸‡
fake = Faker()

N = 100_000
print(f"â³ Generating {N:,} records...")

user_id = [fake.uuid4() for _ in range(N)]
name = [fake.name() for _ in range(N)]
email = [fake.email() for _ in range(N)]
birthdate = [fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(N)]
salary = [random.randint(30_000, 150_000) for _ in range(N)]
signup_date = [fake.date_this_decade() for _ in range(N)]

# Pandas baseline dataset
pdf = pd.DataFrame({
    "user_id": user_id,
    "name": name,
    "email": email,
    "birthdate": pd.to_datetime(birthdate),
    "salary": salary,
    "signup_date": pd.to_datetime(signup_date),
})

# Polars dataset (Arrow-native types)
df = pl.DataFrame({
    "user_id": user_id,
    "name": name,
    "email": email,
    "birthdate": birthdate,   # Polars will infer Date
    "salary": salary,
    "signup_date": signup_date
})

print("âœ… Pandas shape:", pdf.shape)
print("âœ… Polars shape:", df.shape)
display(pdf.head(3))
df.head(3)

â³ Generating 100,000 records...
âœ… Pandas shape: (100000, 6)
âœ… Polars shape: (100000, 6)

,user_id,name,email,birthdate,salary,signup_date
0,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Annette Fisher,douglasmary@example.com,1945-05-15,113810,2024-10-02
1,23b8c1e9-3924-46de-beb1-3b9046685257,Cassidy Lambert,amandanash@example.org,1961-03-24,44592,2021-01-25
2,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,William Stewart,spencersharon@example.org,1999-04-10,33278,2025-07-21

shape: (3, 6)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ user_id              â”† name            â”† email               â”† birthdate  â”† salary â”† signup_date â”‚
â”‚ ---                  â”† ---             â”† ---                 â”† ---        â”† ---    â”† ---         â”‚
â”‚ str                  â”† str             â”† str                 â”† date       â”† i64    â”† date        â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ bdd640fb-0667-4ad1-9 â”† Annette Fisher  â”† douglasmary@example â”† 1945-05-15 â”† 113810 â”† 2024-10-02  â”‚
â”‚ c80-317fa3â€¦          â”†                 â”† .com                â”†            â”†        â”†             â”‚
â”‚ 23b8c1e9-3924-46de-b â”† Cassidy Lambert â”† amandanash@example. â”† 1961-03-24 â”† 44592  â”† 2021-01-25  â”‚
â”‚ eb1-3b9046â€¦          â”†                 â”† org                 â”†            â”†        â”†             â”‚
â”‚ bd9c66b3-ad3c-4d6d-9 â”† William Stewart â”† spencersharon@examp â”† 1999-04-10 â”† 33278  â”† 2025-07-21  â”‚
â”‚ a3d-1fa7bcâ€¦          â”†                 â”† le.org              â”†            â”†        â”†             â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [6]:
#5) Tutorial: ETL à¸”à¹‰à¸§à¸¢ Pandas (Baseline)
# vectorized ops, groupby, à¹à¸¥à¸° pitfalls à¹€à¸£à¸·à¹ˆà¸­à¸‡ dtype/datetime
t0 = time.perf_counter()

current_year = date.today().year

pdf_etl = pdf.copy()
pdf_etl["age"] = current_year - pdf_etl["birthdate"].dt.year

# Mask email: keep local part, replace domain
local_part = pdf_etl["email"].str.split("@").str[0]
pdf_etl["masked_email"] = local_part + "@***.com"

# Salary class
pdf_etl["salary_class"] = pd.cut(
    pdf_etl["salary"],
    bins=[-1, 50_000, 100_000, 10**9],
    labels=["Low", "Medium", "High"]
)

stats_pandas = (
    pdf_etl.groupby("salary_class", observed=True)
    .agg(count=("user_id", "count"),
         avg_age=("age", "mean"),
         avg_salary=("salary", "mean"))
    .sort_values("avg_salary", ascending=False)
)

t1 = time.perf_counter()
print(f"â±ï¸ Pandas ETL+Agg time: {t1 - t0:.4f} sec")
display(pdf_etl[["name","age","masked_email","salary","salary_class"]].head(5))
stats_pandas

â±ï¸ Pandas ETL+Agg time: 0.0758 sec

              name  age           masked_email  salary salary_class
0   Annette Fisher   80    douglasmary@***.com  113810         High
1  Cassidy Lambert   64     amandanash@***.com   44592          Low
2  William Stewart   26  spencersharon@***.com   33278          Low
3     Donna Knight   48  allisonhansen@***.com  127196         High
4    Kathy Mendoza   24   wrightnicole@***.com   66048       Medium

              count    avg_age     avg_salary
salary_class
High          41777  49.166551  124904.920937
Medium        41542  48.982572   75036.407997
Low           16681  48.884359   39998.271746

In [7]:
#6) Tutorial: ETL à¸”à¹‰à¸§à¸¢ Polars (Eager + Expression API)
# with_columns, when-then-otherwise, string/list ops, à¹à¸¥à¸° dtype à¸—à¸µà¹ˆà¸Šà¸±à¸”
# à¹à¸™à¸°à¸™à¸³: à¸—à¸³ dtype à¹ƒà¸«à¹‰à¸Šà¸±à¸”à¸à¹ˆà¸­à¸™ (à¸à¸±à¸™ dt.year() à¸à¸±à¸‡à¸–à¹‰à¸²à¸–à¸¹à¸ infer à¹€à¸›à¹‡à¸™ Object)
df = df.with_columns([
    pl.col("birthdate").cast(pl.Date),
    pl.col("signup_date").cast(pl.Date),
    pl.col("salary").cast(pl.Int64),
    pl.col("email").cast(pl.Utf8),
    pl.col("user_id").cast(pl.Utf8),
])

t0 = time.perf_counter()
current_year = date.today().year

transformed_df = (
    df.with_columns([
        # à¸­à¸²à¸¢à¸¸ (dtype: Int)
        (pl.lit(current_year) - pl.col("birthdate").dt.year()).cast(pl.Int32).alias("age"),

        # Mask email: à¹ƒà¸Šà¹‰ list ops (split -> list.get(0)) + concat_str (à¸•à¹ˆà¸­à¸£à¸²à¸¢à¹à¸–à¸§)
        pl.concat_str([
            pl.col("email").str.split("@").list.get(0),
            pl.lit("@***.com")
        ]).alias("masked_email"),
    ])
    .with_columns([
        pl.when(pl.col("salary") > 100_000).then(pl.lit("High"))
          .when(pl.col("salary") > 50_000).then(pl.lit("Medium"))
          .otherwise(pl.lit("Low"))
          .cast(pl.Utf8)
          .alias("salary_class")
    ])
)

stats_polars = (
    transformed_df.group_by("salary_class")
    .agg([
        pl.len().alias("count"),              # à¹à¸™à¸°à¸™à¸³à¹ƒà¸Šà¹‰ len() à¸ªà¸³à¸«à¸£à¸±à¸šà¸™à¸±à¸šà¹à¸–à¸§à¹ƒà¸™à¸à¸¥à¸¸à¹ˆà¸¡
        pl.col("age").mean().alias("avg_age"),
        pl.col("salary").mean().alias("avg_salary"),
    ])
    .sort("avg_salary", descending=True)
)

t1 = time.perf_counter()
print(f"â±ï¸ Polars (Eager) ETL+Agg time: {t1 - t0:.4f} sec")

transformed_df.select(["name","age","masked_email","salary","salary_class"]).head(5), stats_polars

â±ï¸ Polars (Eager) ETL+Agg time: 0.0275 sec

(shape: (5, 5)
 â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
 â”‚ name            â”† age â”† masked_email          â”† salary â”† salary_class â”‚
 â”‚ ---             â”† --- â”† ---                   â”† ---    â”† ---          â”‚
 â”‚ str             â”† i32 â”† str                   â”† i64    â”† str          â”‚
 â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
 â”‚ Annette Fisher  â”† 80  â”† douglasmary@***.com   â”† 113810 â”† High         â”‚
 â”‚ Cassidy Lambert â”† 64  â”† amandanash@***.com    â”† 44592  â”† Low          â”‚
 â”‚ William Stewart â”† 26  â”† spencersharon@***.com â”† 33278  â”† Low          â”‚
 â”‚ Donna Knight    â”† 48  â”† allisonhansen@***.com â”† 127196 â”† High         â”‚
 â”‚ Kathy Mendoza   â”† 24  â”† wrightnicole@***.com  â”† 66048  â”† Medium       â”‚
 â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜,
 shape: (3, 4)
 â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
 â”‚ salary_class â”† count â”† avg_age   â”† avg_salary    â”‚
 â”‚ ---          â”† ---   â”† ---       â”† ---           â”‚
 â”‚ str          â”† u32   â”† f64       â”† f64           â”‚
 â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
 â”‚ High         â”† 41777 â”† 49.166551 â”† 124904.920937 â”‚
 â”‚ Medium       â”† 41542 â”† 48.982572 â”† 75036.407997  â”‚
 â”‚ Low          â”† 16681 â”† 48.884359 â”† 39998.271746  â”‚
 â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜)

In [8]:
#7) Polars Lazy = ETL à¸—à¸µà¹ˆ â€œà¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¸„à¸³à¸™à¸§à¸“â€ (à¹€à¸«à¸¡à¸²à¸°à¸à¸±à¸šà¸‡à¸²à¸™à¹ƒà¸«à¸à¹ˆ)
# LazyFrame, query plan, à¸«à¸¥à¸±à¸à¸à¸²à¸£ pushdown (à¹€à¸¥à¸·à¸­à¸à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ/à¸à¸£à¸­à¸‡à¸à¹ˆà¸­à¸™à¸„à¹ˆà¸­à¸¢à¸­à¹ˆà¸²à¸™à¸ˆà¸£à¸´à¸‡)

# import time
# import polars as pl
# from datetime import date

# à¹à¸™à¸°à¸™à¸³: à¸Šà¸±à¸” dtype à¸à¹ˆà¸­à¸™ (à¸–à¹‰à¸² df à¸¡à¸²à¸ˆà¸²à¸ Python list/dict à¸¡à¸±à¸à¸›à¸¥à¸­à¸”à¸ à¸±à¸¢ à¹à¸•à¹ˆà¸à¸±à¸™à¹„à¸§à¹‰)
df = df.with_columns([
    pl.col("birthdate").cast(pl.Date),
    pl.col("salary").cast(pl.Int64),
    pl.col("email").cast(pl.Utf8),
    pl.col("user_id").cast(pl.Utf8),
])

lf = (
    df.lazy()
    .with_columns([
        (pl.lit(date.today().year) - pl.col("birthdate").dt.year()).cast(pl.Int32).alias("age"),
        pl.concat_str([
            pl.col("email").str.split("@").list.get(0),
            pl.lit("@***.com")
        ]).alias("masked_email"),
        pl.when(pl.col("salary") > 100_000).then(pl.lit("High"))
          .when(pl.col("salary") > 50_000).then(pl.lit("Medium"))
          .otherwise(pl.lit("Low"))
          .alias("salary_class")
    ])
)

# à¸”à¸¹à¹à¸œà¸™à¸à¸²à¸£à¸£à¸±à¸™ (à¸à¹ˆà¸­à¸™ collect)
print(lf.explain())

t0 = time.perf_counter()
stats_lazy = (
    lf.group_by("salary_class")
      .agg([
          pl.len().alias("count"),
          pl.col("age").mean().alias("avg_age"),
          pl.col("salary").mean().alias("avg_salary"),
      ])
      .sort("avg_salary", descending=True)
      .collect()
)
t1 = time.perf_counter()
print(f"â±ï¸ Polars (Lazy) Agg time: {t1 - t0:.4f} sec")

stats_lazy

 WITH_COLUMNS:
 [[(2025) - (col("birthdate").dt.year())].alias("age"), col("email").str.split(["@"]).list.get([dyn int: 0]).str.concat_horizontal(["@***.com"]).alias("masked_email"), when([(col("salary")) > (100000)]).then("High").otherwise(when([(col("salary")) > (50000)]).then("Medium").otherwise("Low")).alias("salary_class")]
  DF ["user_id", "name", "email", "birthdate", ...]; PROJECT */6 COLUMNS
â±ï¸ Polars (Lazy) Agg time: 0.0053 sec

shape: (3, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ salary_class â”† count â”† avg_age   â”† avg_salary    â”‚
â”‚ ---          â”† ---   â”† ---       â”† ---           â”‚
â”‚ str          â”† u32   â”† f64       â”† f64           â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ High         â”† 41777 â”† 49.166551 â”† 124904.920937 â”‚
â”‚ Medium       â”† 41542 â”† 48.982572 â”† 75036.407997  â”‚
â”‚ Low          â”† 16681 â”† 48.884359 â”† 39998.271746  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [9]:
# 8) Speed Test (Pandas vs Polars) â€” à¹ƒà¸«à¹‰à¹€à¸”à¹‡à¸ â€œà¹€à¸«à¹‡à¸™à¹€à¸›à¹‡à¸™à¸•à¸±à¸§à¹€à¸¥à¸‚â€
# benchmark à¹à¸šà¸šà¸‡à¹ˆà¸²à¸¢ à¹à¸•à¹ˆà¸šà¸­à¸à¸‚à¹‰à¸­à¸„à¸§à¸£à¸£à¸°à¸§à¸±à¸‡: cache/warm-up
def bench(fn, rounds=3, warmup=1):
    for _ in range(warmup):
        fn()
    times = []
    for _ in range(rounds):
        t0 = time.perf_counter()
        fn()
        t1 = time.perf_counter()
        times.append(t1 - t0)
    return times, sum(times)/len(times)

# define minimal comparable workloads
def pandas_workload():
    _ = (pdf.assign(
        age=(date.today().year - pdf["birthdate"].dt.year),
        salary_class=pd.cut(pdf["salary"], [-1, 50_000, 100_000, 10**9], labels=["Low","Medium","High"])
    )
    .groupby("salary_class", observed=True)
    .agg(avg_salary=("salary","mean"))
    )

def polars_workload():
    _ = (df.lazy()
        .with_columns([
            (pl.lit(date.today().year) - pl.col("birthdate").dt.year()).alias("age"),
            pl.when(pl.col("salary") > 100_000).then(pl.lit("High"))
              .when(pl.col("salary") > 50_000).then(pl.lit("Medium"))
              .otherwise(pl.lit("Low")).alias("salary_class")
        ])
        .group_by("salary_class")
        .agg(pl.col("salary").mean().alias("avg_salary"))
        .collect()
    )

p_times, p_avg = bench(pandas_workload)
l_times, l_avg = bench(polars_workload)

print("Pandas times:", p_times, "avg:", round(p_avg,4), "sec")
print("Polars times:", l_times, "avg:", round(l_avg,4), "sec")

Pandas times: [0.00860704199999418, 0.007905292000032205, 0.007624958000178594] avg: 0.008 sec
Polars times: [0.003290999999990163, 0.003086374999838881, 0.002970792000041911] avg: 0.0031 sec

In [10]:
# 9) Load to MinIO (Parquet) â€” Data Lake zone â€œprocessedâ€
file_path_key = f"{BUCKET}/{PREFIX}/users_polars.parquet"
print("ğŸ“ Writing to: s3://"+file_path_key)

fs = s3fs.S3FileSystem(
    key=MINIO_ACCESS_KEY,                 # à¹€à¸Šà¹ˆà¸™ "admin"
    secret=MINIO_SECRET_KEY,              # à¹€à¸Šà¹ˆà¸™ "admin12345"
    client_kwargs={"endpoint_url": MINIO_ENDPOINT},  # à¹€à¸Šà¹ˆà¸™ "http://minio:9000"
)

# à¹€à¸‚à¸µà¸¢à¸™à¸¥à¸‡ MinIO à¸œà¹ˆà¸²à¸™ file-like (à¹€à¸¥à¸µà¹ˆà¸¢à¸‡ storage_options à¸‚à¸­à¸‡ Polars)
with fs.open(file_path_key, "wb") as f:
    transformed_df.write_parquet(f)

print("âœ… Write Success")
print("Objects under prefix:", fs.ls(f"{BUCKET}/{PREFIX}")[:5])

ğŸ“ Writing to: s3://data/processed/users_polars.parquet
âœ… Write Success
Objects under prefix: ['data/processed/users_polars.parquet']

In [11]:
# 10) Verify (Read back) â€” à¹ƒà¸Šà¹‰ scan_parquet à¹€à¸à¸·à¹ˆà¸­à¹à¸™à¸§à¸„à¸´à¸” â€œà¸­à¹ˆà¸²à¸™à¹à¸šà¸šà¸‰à¸¥à¸²à¸”â€


file_path = f"s3://{BUCKET}/{PREFIX}/users_polars.parquet"

# âœ… storage_options à¸•à¹‰à¸­à¸‡à¹€à¸›à¹‡à¸™ dict[str, str] à¹à¸šà¸š "à¹à¸šà¸™" à¹€à¸—à¹ˆà¸²à¸™à¸±à¹‰à¸™
storage_options_flat = {
    "aws_access_key_id": MINIO_ACCESS_KEY,
    "aws_secret_access_key": MINIO_SECRET_KEY,
    "aws_region": "us-east-1",
    "aws_endpoint_url": MINIO_ENDPOINT,  # à¹€à¸Šà¹ˆà¸™ "http://minio:9000"
    "aws_allow_http": "true",
}

print("ğŸ“– Reading back from MinIO (lazy scan)...")
lazy_df = pl.scan_parquet(file_path, storage_options=storage_options_flat)

# projection + head + collect
sample = lazy_df.select(["user_id", "age", "salary_class"]).head(5).collect()
sample

ğŸ“– Reading back from MinIO (lazy scan)...

shape: (5, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ user_id                         â”† age â”† salary_class â”‚
â”‚ ---                             â”† --- â”† ---          â”‚
â”‚ str                             â”† i32 â”† str          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ bdd640fb-0667-4ad1-9c80-317fa3â€¦ â”† 80  â”† High         â”‚
â”‚ 23b8c1e9-3924-46de-beb1-3b9046â€¦ â”† 64  â”† Low          â”‚
â”‚ bd9c66b3-ad3c-4d6d-9a3d-1fa7bcâ€¦ â”† 26  â”† Low          â”‚
â”‚ 972a8469-1641-4f82-8b9d-2434e4â€¦ â”† 48  â”† High         â”‚
â”‚ 17fc695a-07a0-4a6e-8822-e8f36câ€¦ â”† 24  â”† Medium       â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜